        <!-- Search Results View -->
        <section id="view-search" class="view hidden">
            <div class="view-header">
                <h2>Kết quả tìm cho: <span id="search-query-display" class="highlight"></span></h2>
                <div class="view-actions">
                    <button class="btn btn-icon" onclick="app.navigateTo('/')">Xóa tìm kiếm</button>
                </div>
            </div>
            <div class="volumes-list" id="search-results-list">
                <!-- Search results here -->
            </div>
        </section>
